body {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}


.main-img {
  background: #001524;
  background: linear-gradient(180deg, #001524 10%, #b8eaf7 95%);
  background: -webkit-linear-gradient(180deg, #001524 10%, #b8eaf7 95%);
  background: -moz-linear-gradient(180deg, #001524 10%, #b8eaf7 95%);
}

.container-nav {
  background-color: rgb(0, 21, 36);
  padding: 1em 0;
}

.nav-scroll {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-color: white;
  box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.1);
}

.container-fluid {
  background: #b8eaf7;
  background: radial-gradient(circle farthest-corner at center center, #b8eaf7 0%, #001524 70%);
  background: -webkit-radial-gradient(circle farthest-corner at center center, #b8eaf7 0%, #001524 70%);
  background: -moz-radial-gradient(circle farthest-corner at center center, #b8eaf7 0%, #001524 70%);
  height: 100vh;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 2em;
  padding-left: 0;
}

ul.navbar-list li:first-child {
  margin-right: auto;
}

a {
  text-decoration: none;
  color: rgb(0, 202, 135);
}

a:hover {
  color: rgb(0, 165, 110);
  font-weight: bold;
}

.row>* {
  padding-left: 0;
  padding-right: 0;
  padding-top: 3em;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(0, 202, 135);
  border-color: rgb(0, 202, 135);
}

.btn {
  color: #212529;
  font-weight: bold;
  background-color: rgb(0, 202, 135);
  border-radius: 10em;
}

.btn:hover {
  background-color: rgb(0, 165, 110);
  color: #f8f9fa;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgb(0, 202, 135);
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(255, 255, 255, 0.73);
}


/* Home.jsx style */
.circle-button {
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 15em;
  height: 2em;
  border-radius: 50%;
  background-color: #001524;
  cursor: pointer;
  z-index: 1;
}

.show-video {
  border-radius: 0px 0px 25px 25px;
  -webkit-border-radius: 0px 0px 25px 25px;
  -moz-border-radius: 0px 0px 25px 25px;

  margin: auto;
  padding: 0 8em;
  height: 70vh;
  width: 70vw;
  background-color: #001524;
  transition: all 500ms cubic-bezier(.93, .1, .42, .91);
}

.hide-video {
  border-radius: 0px 0px 200px 200px;
  -webkit-border-radius: 0px 0px 200px 200px;
  -moz-border-radius: 0px 0px 200px 200px;

  display: block;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  height: 0.5em;
  width: 0.5em;
  -webkit-transition: all 0.4s ease-out;
  transition: all 500ms cubic-bezier(.93, .1, .42, .91);
}

.testtt {
  -webkit-transform: translateY(35%);
  transform: translateY(35%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.testt {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}